[submodule "thich-doc-truyen-frontend"]
	path = thich-doc-truyen-frontend
	url = https://github.com/SE-Academic-Group/thich-doc-truyen-frontend.git
[submodule "thich-doc-truyen-backend"]
	path = thich-doc-truyen-backend
	url = https://github.com/SE-Academic-Group/thich-doc-truyen-backend.git
[submodule "thich-doc-truyen-docs"]
	path = thich-doc-truyen-docs
	url = https://github.com/SE-Academic-Group/thich-doc-truyen-docs.git
